@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Open Sans or Quicksand */
}

:root {
  /* font-family: 'Open Sans', sans-serif;  */
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);

  --dark-color: #212949;

  --orange: #dd7b0c;
  --light-orange: #f5890e;
  --dark-orange: #b6660a;

  --violet: #6883e6;
  --violet-light: #718ff9;

  --dark-blue: #364377;
  --light-blue: #576cbf;

  --selection-color: #7280b0;

}

::selection {
  background: var(--selection-color);
}

body {
  margin: 0;
  color: #ffffff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 2000px;
  
}

main{
  margin: 2rem 0;
  flex-grow: 1;
}

/* Header-----------------------------*/

.header {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: white;
  cursor: pointer;
}

/* Components ----------------------*/

.btn {
  display: inline-flex;
  /* align-items: center; */
  gap: 0.5rem;
  padding: 0.75rem 1.5rem; /* double the size on the sides */
  justify-content: center;
  align-items: center;
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  background-color: var(--violet);
  color: white;
  border-color: var(--dark-blue);

  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue);

  transition: all 0.1s ease;
}


.btn:active {
box-shadow:
6px 6px 18px var(--dark-blue),
-6px -6px 18px var(--light-blue),
inset 3px 3px 15px #415391,
inset -3px -3px 15px #6e8bdf;
font-size: 15px;
}



.btn > * {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.btn:hover {
  /* color: white;
  background-color: var(--light-orange);
  transform: scale(1.05); */
  background-color: #718ff9;

}


/* Home------------------------------- */

.btn-cont-home {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-bigger{ 
  height: 75px;
  width: 250px;
  font-size: larger;
  box-shadow: 
  14px 14px 28px var(--dark-blue),
  -14px -14px 28px var(--light-blue);
}

.btn-bigger:active {
  box-shadow:
  14px 14px 28px var(--dark-blue),
  -14px -14px 28px var(--light-blue),
  inset 3px 3px 28px #415391,
  inset -3px -3px 28px #6e8bdf;
  font-size: 18px;
}

.btn-bigger:active > .btn-icon > *{
  transform: scale(0.93);
}

.btn-new {
  color: white;
  background-color: var(--orange);
}

.btn-new:hover {
  background-color: var(--light-orange);
  /* box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.344); */
}

.btn-new:active{
  box-shadow:
  14px 14px 28px #364377,
  -14px -14px 28px #576cbf,
  inset 3px 3px 28px #834907,
  inset -3px -3px 28px #ca780d;
}


/* not displayed */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* make items  */
  gap: 1.5rem;
  justify-content: center;
}

.card {
  flex-grow: 0; /* allow item to take all the space and grow*/
  flex-shrink: 1; /* allow inner text to shrink or not */
  /* flex-basis: 0; */ /* similar to width */
  width: 250px;
  padding: 3rem;
  border: 3px solid white;
  border-radius: 25px;
}

/* New Draft -------------------------------*/

.form-cont {
  border-radius: 25px;
  border: 2px solid white;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.form-inputs > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-inputs input[type=number] {
  height: 30px;
  width: 50px;
  padding: 0.3rem;
  border-radius: 10px;
  text-align: center;
  font-size: medium;
  outline: none;
  border: 2px solid var(--orange);
  background-color: inherit;
  color: #ffffff;
}

.mode-new-draft .radio-cont{
  display: flex;
  gap: 0.5rem;
}

.radio-cont input[type="radio"]{
  display: none;
}

.radio-cont label{
  position: relative;
  height: 30px;
  width: 100px;
  border: 2px solid var(--dark-blue);
  color: #ffffffa3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio-cont input[type="radio"]:hover + label{
  background-color: var(--light-blue);
}
.radio-cont input[type="radio"]:checked + label{
  background-color: var(--light-blue);
  border-color: var(--orange);
  color: white;
}

.credits-new-draft .input-div{
  display: flex;
  align-items: center;
  border: 2px solid var(--orange);
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: inherit;
  overflow: hidden;
}

.credits-new-draft input[type="number"]{
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  
}

.credits-new-draft .credits-icon-div{
  height: 100%;
  background-color: var(--orange);
}

.credits-new-draft .credits-icon{
  height: 100%;
  margin: 0 5px;
  color: white;
}

.players-num > .roles {
  display: flex;
  gap: 0.5rem;
}

.draftType select{
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 10px;
  background-color: var(--light-blue);
  color: white;
  height: 30px;
  padding: 0 5px;
  cursor: pointer;
}

.draftType .select::after {
  border: 2px solid var(--orange);
}


.btn-cont-draft{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.btn-new-draft{ 
  height: 50px;
  width: 140px;
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue);
}

.btn-new-draft:active {
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue),
  inset 3px 3px 15px #415391,
  inset -3px -3px 15px #6e8bdf;
  font-size: 15px;
}



/* DraftsList ------------------------------ */

.drafts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.upload-file {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-file input{
  display: none;
}

.upload-file label{
  text-align: center;
  height: 50px;
  display: flex;
  gap: 1rem;
}

/* teams---------------------- */

.teams-cont {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.team {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 600px;
  min-width: 150px;
  max-width: 150px;
  overflow: auto;
  
}
.team h3 {
  margin: 0;
}

.team-players {
}

.team-players > * {
  margin: 0.2rem 0;
}

.auction-cont{
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 300px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.campioncino {
  object-fit: contain;
  width: 100px;
  margin: 2rem;
}

/* Modal------------------------------------------- */
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.player-form {
  box-shadow: 0 0px 20px rgba(253, 253, 253, 0.286);
  border-radius: 25px;
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);
  border: 2px solid white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.modal-info {
  display: flex;
  gap: 2rem;
}























/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}