@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);
}

body {
  margin: 0;
  color: #ffffff;
}

main{
  margin: 2rem 10%;
}

/* Header-----------------------------*/

.header {
  margin: 0 10%;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: white;
  cursor: pointer;
}


/* Home------------------------------- */
.btn-new {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: #14315a;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.btn-new:hover {
  color: white;
  background-color: #dd7b0c;
}

.btn-new:active{
  background-color: #a35b08;
}

.btn-container {
  text-align: end;
  margin-bottom: 2rem;
}


.cards-container {
  display: flex;
  flex-wrap: wrap; /* make items  */
  gap: 1.5rem;
  justify-content: center;
}

.card {
  flex-grow: 0; /* allow item to take all the space and grow*/
  flex-shrink: 1; /* allow inner text to shrink or not */
  /* flex-basis: 0; */ /* similar to width */
  width: 250px;
  padding: 3rem;
  border: 3px solid white;
  border-radius: 25px;
}

/* New Draft -------------------------------*/


.form-cont {
  border-radius: 25px;
  border: 2px solid white;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.btn-cont{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.submit-btn {
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #dd7b0c;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #a35b08;
}

.submit-btn:active{
  background-color: #93530a;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;  
}

.form-inputs > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-inputs input[type=number] {
  max-width: 50px;
}

.players-num > .roles {
  display: flex;
  gap: 0.5rem;
}


/* DraftsList ------------------------------ */

.drafts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.upload-file {
  display: block;
  margin: 2rem auto;

}

.draftslist-cont{
  margin: 3rem;
}


/* teams---------------------- */

.teams-cont {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.team {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 600px;
  min-width: 150px;
  max-width: 150px;
  overflow: auto;
  
}
.team h3 {
  margin: 0;
}

.team-players {
}

.team-players > * {
  margin: 0.2rem 0;
}

.auction-cont{
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 300px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.campioncino {
  object-fit: contain;
  width: 100px;
  margin: 2rem;
}

/* Modal------------------------------------------- */
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.player-form {
  box-shadow: 0 0px 20px rgba(253, 253, 253, 0.286);
  border-radius: 25px;
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);
  border: 2px solid white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.modal-info {
  display: flex;
  gap: 2rem;
}