@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Open Sans or Quicksand */
}

:root {
  /* font-family: 'Open Sans', sans-serif;  */
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);

  --first-bright-color: #a5aed2;
  --second-bright-color: #818dc0;
  --third-bright-color: #6e7db7;

  --dark-color: #212949;

  --dark-orange: #b6660a;
  --light-orange: #dd7b0c;

  --violet: #6883e6;
}


body {
  margin: 0;
  color: #ffffff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5%;
  max-width: 2000px;
  
}

main{
  margin: 2rem 0;
  flex-grow: 1;
}

/* Header-----------------------------*/

.header {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: white;
  cursor: pointer;
}

/* Components ----------------------*/

.btn {
  display: inline-flex;
  /* align-items: center; */
  gap: 0.5rem;
  padding: 0.75rem 1.5rem; /* double the size on the sides */
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  background-color: var(--violet);
  color: white;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); */

  border-color: var(--light-orange);

  /* box-shadow:  0 0 10px 2px rgba(0, 0, 0, 0.344); */
  box-shadow:  14px 14px 28px #3f4e8b,
             -14px -14px 28px #576cbf;

  transition: all 0.1s ease;
}

.btn > * {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.btn:hover {
  /* color: white;
  background-color: var(--light-orange);
  transform: scale(1.05); */
  border-color: var(--light-orange);

}

.btn:active {
  /* transform: scale(0.95); */
  box-shadow:
  14px 14px 28px #3f4e8b,
  -14px -14px 28px #576cbf,
  inset 3px 3px 28px #3f4e8b,
  inset -3px -3px 28px #576cbf;
  border-color: var(--light-orange);
  font-size: 18px;
}

.btn:active > .btn-icon > *{
  transform: scale(0.93);
}


/* .btn:focus{
  box-shadow: 0 0 0 3px rgba(221, 123, 12, 0.47);
} */



/* Home------------------------------- */

.btn-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-new {
  color: white;
  background-color: var(--light-orange);
  border-color: transparent
}

.btn-new:hover {
  color: white;
  /* background-color: #ff8f0f; */
  /* box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.344); */
}

.btn-new:active{
  color: white;
  background-color: var(--dark-orange);
}

.btn-bigger{ 
  height: 75px;
  width: 250px;
  font-size: larger;
}

/* not displayed----------------------- */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* make items  */
  gap: 1.5rem;
  justify-content: center;
}

.card {
  flex-grow: 0; /* allow item to take all the space and grow*/
  flex-shrink: 1; /* allow inner text to shrink or not */
  /* flex-basis: 0; */ /* similar to width */
  width: 250px;
  padding: 3rem;
  border: 3px solid white;
  border-radius: 25px;
}

/* New Draft -------------------------------*/


.form-cont {
  border-radius: 25px;
  border: 2px solid white;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.btn-cont{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;  
}

.form-inputs > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-inputs input[type=number] {
  max-width: 50px;
}

.players-num > .roles {
  display: flex;
  gap: 0.5rem;
}


/* DraftsList ------------------------------ */

.drafts {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.upload-file {
  display: block;
  margin: 2rem auto;

}

.draftslist-cont{
  margin: 3rem;
}


/* teams---------------------- */

.teams-cont {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.team {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 600px;
  min-width: 150px;
  max-width: 150px;
  overflow: auto;
  
}
.team h3 {
  margin: 0;
}

.team-players {
}

.team-players > * {
  margin: 0.2rem 0;
}

.auction-cont{
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.7rem;
  height: 300px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.campioncino {
  object-fit: contain;
  width: 100px;
  margin: 2rem;
}

/* Modal------------------------------------------- */
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.player-form {
  box-shadow: 0 0px 20px rgba(253, 253, 253, 0.286);
  border-radius: 25px;
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);
  border: 2px solid white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.modal-info {
  display: flex;
  gap: 2rem;
}
