@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Open Sans or Quicksand */
}

:root { /* corresponds to html tag */

  --background-color: #4b5da5;
  --dark-color: #212949;

  --orange: #dd7b0c;
  --light-orange: #f5890e;
  --dark-orange: #b6660a;

  --violet: #6883e6;
  --violet-light: #718ff9;

  --dark-blue: #364377;
  --light-blue: #576cbf;

  --selection-color: #3d77b2; /* #7280b0 */

  --green-confirm: #1f9c1f;
  --green-confirm-light: #25b325;

  --red-delete: #ed0000;
  --red-delete-light: #ff3e3e;

  --credits-color: #fbb83c;

  --placeholder-color: #bfcbfe91;


  --role-p: #c38725;    /* #f3a72a; */   
  --role-d: #5ca826;    /* #6cc72d; */
  --role-c: #1c4fb6;    /* #2c6ef4; */
  --role-wt: #a729d9;   /* #b81df6; */
  --role-a: #b70232;    /* #ea003e; */


  --fs-primary: 16px;
  --fs-second: 14px;
  --fs-third: 12px;
  
  --fs-large: 18px;
  --fs-big: 20px;
  --fs-bigger: 24px;
  --fs-small: 10px;

  --fs-btn-prim: 16px;
  --fs-btn-sec: 15px;

  --fs-btn-big-prim: 19px;
  --fs-btn-big-sec: 18px;

  --fs-skip-btn: 25px;
  --fs-skip-btn-active: 22px;

}

html{
  min-height: 100%;
  background-color: var(--background-color);
  background-image: radial-gradient(ellipse at top left, var(--background-color), #383f60);
  /* overscroll-behavior-y: none; */
}

body{
  margin: 0;
  color: #ffffff;/* 
  background-image: radial-gradient( #4b5da5, #383f60); */
  /* background-color: #4b5da5; */
  min-height: 100vh;
  /* overscroll-behavior: contain; */
}

#root {
  margin: 0 auto;
  max-width: 2000px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

::selection {
  background: var(--selection-color);
}

::placeholder {
  color: var(--placeholder-color);
  opacity: 1; /* Firefox */
}

main{
  margin: 2rem 0;
  flex-grow: 1;
}

/* Header-----------------------------*/

.header {
  padding: 0 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  margin: 0 5%;
}

.header h1{
  margin: 0;
  white-space: nowrap;
}

.logo {
  font-size: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 1rem 0;
}

/* Components ----------------------*/

select{
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 10px;
  background-color: var(--light-blue);
  color: white;
  height: 30px;
  padding: 0 5px;
  cursor: pointer;
}

option{
  text-align: start;
}

select:focus{
  background-color: var(--dark-blue);
}


input{
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--orange);
  background-color: inherit;
  color: #ffffff;
}

input:focus{
  background-color: var(--dark-blue);
}

.btn {
  display: inline-flex;
  /* align-items: center; */
  gap: 0.5rem;
  padding: 0.75rem 1.5rem; /* double the size on the sides */
  justify-content: center;
  align-items: center;
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--fs-btn-prim);
  background-color: var(--violet);
  color: white;
  border-color: var(--dark-blue);

  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue);

  transition: all 0.1s ease;
}

.btn:active {
box-shadow:
6px 6px 18px var(--dark-blue),
-6px -6px 18px var(--light-blue),
inset 3px 3px 15px #415391,
inset -3px -3px 15px #6e8bdf;
font-size: var(--fs-btn-sec);

  & .btn-icon > *{
    transform: scale(0.97);
    font-size: inherit;
  }
}

.btn > * {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.btn:hover {
  background-color: #718ff9;
}

/* Home------------------------------- */

.btn-cont-home {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn-bigger{ 
  height: 75px;
  width: 250px;
  font-size: var(--fs-btn-big-prim);
  white-space: nowrap;
  box-shadow: 
  14px 14px 28px var(--dark-blue),
  -14px -14px 28px var(--light-blue);
}

.btn-bigger:active {
  box-shadow:
  14px 14px 28px var(--dark-blue),
  -14px -14px 28px var(--light-blue),
  inset 3px 3px 28px #415391,
  inset -3px -3px 28px #6e8bdf;
  font-size: var(--fs-btn-big-sec);

  & .btn-icon > *{
    transform: scale(0.93);
    font-size: inherit;
  }
}

.btn-new {
  color: white;
  background-color: var(--orange);
}

.btn-new:hover {
  background-color: var(--light-orange);
  /* box-shadow:  0 0 10px 5px rgba(0, 0, 0, 0.344); */
}

.btn-new:active{
  box-shadow:
  14px 14px 28px #364377,
  -14px -14px 28px #576cbf,
  inset 3px 3px 28px #834907,
  inset -3px -3px 28px #ca780d;
}


/* not displayed */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* make items  */
  gap: 1.5rem;
  justify-content: center;
}

.card {
  flex-grow: 0; /* allow item to take all the space and grow*/
  flex-shrink: 1; /* allow inner text to shrink or not */
  /* flex-basis: 0; */ /* similar to width */
  width: 250px;
  padding: 3rem;
  border: 3px solid white;
  border-radius: 25px;
}

/* New Draft -------------------------------*/

.form-wrapper{
  margin: 0 5%;
}

.form-cont {
  /* border: 2px solid white; */
  /* background-color: var(--dark-blue); */ /* text focus is same color */
  box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.344);
  /* width: fit-content; */
  border-radius: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 5%;
}

.form-inputs {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  flex-wrap: wrap;
}

.form-inputs > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-inputs input[type=number] {
  height: 30px;
  width: 50px;
  padding: 0.3rem;
  text-align: center;
  font-size: var(--fs-primary);
}

.mode-new-draft .radio-cont{
  display: flex;
  gap: 0.5rem;
}

.radio-cont input[type="radio"]{
  display: none;
}

.radio-cont label{
  position: relative;
  height: 30px;
  width: 100px;
  border: 2px solid var(--dark-blue);
  color: #ffffffa3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio-cont input[type="radio"]:hover + label{
  background-color: var(--light-blue);
}
.radio-cont input[type="radio"]:checked + label{
  background-color: var(--light-blue);
  border-color: var(--orange);
  color: white;
}

.credits-new-draft .input-div{
  display: flex;
  align-items: center;
  border: 2px solid var(--orange);
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: inherit;
  overflow: hidden;
}

.credits-new-draft .input-div:focus-within{
  background-color: var(--dark-blue);
}

.credits-new-draft input[type="number"]{
  border: none;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  
}

.credits-new-draft .credits-icon-div{
  height: 100%;
  background-color: var(--orange);
}

.credits-new-draft .credits-icon{
  height: 100%;
  margin: 0 5px;
  color: white;
}

.players-num .roles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn-cont-draft{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.btn-new-draft{ 
  height: 50px;
  width: 140px;
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue);
}

.btn-new-draft:active {
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue),
  inset 3px 3px 15px #415391,
  inset -3px -3px 15px #6e8bdf;
}

.btn-export{
  height: 40px;
  width: 160px;
  padding: 7px 20px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow:
    3px 3px 18px var(--dark-blue),
    -3px -3px 18px var(--light-blue);

  &:active{
    font-size: 13px;
    box-shadow:
      3px 3px 18px var(--dark-blue),
      -3px -3px 18px var(--light-blue),
      inset 3px 3px 15px #415391,
      inset -3px -3px 15px #6e8bdf;

    & .btn-icon{
      font-size: 17px;
    }
  }

  & .btn-icon{
    font-size: 18px;
  }

}


/* Upload ------------------------------ */

.upload-file {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-file input{
  display: none;
}

.upload-file label{
  text-align: center;
  height: 50px;
  display: flex;
  gap: 1rem;
}

/* auction-------------------- */

.top-container{
  display: grid;
  /* grid-template-columns: 1fr 4fr 1fr; */
  grid-auto-flow: column;
  margin: 0 5%;
  align-items: center;
  gap: 2rem;
}

.tools-cont, .history-cont{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  border-radius: 25px;
  padding: 1rem;
  width: fit-content;
  font-size: medium;
  text-wrap: nowrap;
}

.tools-cont{
  gap: 1rem;
  padding: 1rem;
}

.sorting-cont{

  & .sorting-label{
    font-size: var(--fs-third);
    font-weight: bold;
    align-self: baseline;
    padding: 4px;
    padding-top: 0;
    color: var(--placeholder-color);
  }

  & select{
    width: 160px;
    font-size: var(--fs-second);
  }
}

.auction-wrapper{
  /* margin: 0 5%; */
  display: flex;
}

.auction-cont{/* 
  border: 2px solid white; */
  /* background-color: var(--dark-blue); */
  box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.344);
  border-radius: 25px;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  position: relative; /* for searchbox */
  overflow: hidden;
}

.auct-core{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.player-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.player-cont > *, .player-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* searchBox */
.search-div{
  display: flex;
  position: relative;
}

.search-icon{
  position: absolute;
  right: 5px;
  height: 100%;
}

.input-search-box{
  font-size: var(--fs-second);
  width: 180px;
  padding: 2px 17px 2px 6px;
  background-color: var(--dark-blue);
  color: white;
}

.searchedItemsList{
  max-height: 240px;
  border-radius: 10px;
  overflow: auto;
  box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.344);
  white-space: nowrap;
  background-color: var(--background-color);
  font-size: var(--fs-second);
  width: auto;
  border: 4px solid var(--background-color);
  
  position: absolute;
  top: 45px;
  left: 10px;
  right: 10px;
}

.searchedItem{
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2rem 0.3rem;
  margin: 0.1rem;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  align-items: baseline;
  justify-items: center;
  overflow: auto;

  &:hover{
    background-color: var(--violet-light);
  }
}

.searchedItem .auct-roles-cont{
  justify-content: center;
  align-self: center;
  justify-self: baseline;
  margin: 0;
}

.searchedItem .srch-player{
  justify-self: baseline;
}

.searchedItem .srch-team{
  font-size: var(--fs-small);
  justify-self: end;
}

.searchedItem .role{
  margin: 0;
  width: 20px;
  height: 20px;
  font-size: var(--fs-small);
  border: 1px solid white;
}

/* player info */
.player-info {
  min-width: 180px;
  margin: 1rem 0;
}

 .player-name{
  text-align: center;
  font-size: var(--fs-big);
  font-weight: bold;
  
}

.auction-cont .player-name{
  display: flex;
}


.auct-roles-cont{
  display: flex;
  margin: 0.5rem 0;
}

.role{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  /* font-size: 16px; */
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid white;
  /* box-shadow:
  6px 6px 18px #222a48,
  -6px -6px 18px #7a91ef; */
  
}

.role-P, .role-Por {
  background-color: var(--role-p);
}

.role-D, .role-Dc, .role-Dd, .role-Ds {
  background-color: var(--role-d);
}

.role-C, .role-M, .role-E {
  background-color: var(--role-c);
}

.role-W, .role-T {
  background-color: var(--role-wt);
}

.role-A, .role-Pc, .role-A  {
  background-color: var(--role-a);
}

.auct-quot{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.auct-quot > span{
  font-size: var(--fs-bigger);
}

.auct-quot .credits-icon{
  color: var(--credits-color);
}

.auction-cont .btn-skip{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0;
  height: 50px;
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 3px solid var(--violet);
  
  box-shadow:
  6px 6px 18px #2e3960,
  -6px -6px 18px #6b7fd2;

  transition: all 0.1s ease;
  outline: none;
}

.auction-cont .btn-skip:hover{
  border-color: var(--light-orange);
}

.auction-cont .btn-skip:active{
  box-shadow:
  6px 6px 18px #2e3960,
  -6px -6px 18px #6b7fd2,
  inset 3px 3px 7px #8d8d8d,
  inset -3px -3px 7px #d3d3d3;
}

.auction-cont .btn-skip > *{
  font-size: var(--fs-skip-btn);
}

.auction-cont .btn-skip:active > *{
  font-size: var(--fs-skip-btn-active);
}

.auction-cont .btn-assign{
  height: 45px;
  width: 160px;
}

.auction-cont .btn-assign:active{
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue),
  inset 3px 3px 20px #834907,
  inset -3px -3px 20px #ca780d;
}

.campioncino {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 200ms ease-in-out;
  margin: 0 25px;
}

.image-slider {
  
  margin: 1.5rem;
  
}

.camp-cont{
  width: 100px;
  height: 148px;
  display: flex;
  overflow: hidden;
}

/* teams---------------------- */

.teams-wrapper{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.teams-cont {
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  margin-bottom: 0.5rem;
  font-size: var(--fs-second);
  padding: 2rem;
  overflow: auto;
  gap: 0.5rem;
}

.team {
  /* border: 2px solid white; */
  /* background-color: var(--dark-blue); */
  box-shadow:  0 0 5px 0.5px rgba(0, 0, 0, 0.344);
  border-radius: 25px;
  padding: 0.7rem;
  min-height: 600px;
  min-width: 180px;
  max-width: 180px;
  position: relative;
  overflow: hidden;
}

.team .team-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: auto;
  /* overflow-wrap: break-word; */
  cursor: pointer;
}

.team input {
  font-size: var(--fs-primary);
  padding: 0 4px;
  border-radius: 5px;
  border: 2px solid var(--orange);
  outline: none;
  overflow: auto;
  background-color: var(--dark-blue);
  color: white;
}

.team-name-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: var(--fs-large);
}

.btn-team-edit{
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 2px;
  background-color: var(--light-blue);
  border-radius: 6px;
  border: 2px solid var(--dark-color);
  cursor: pointer;
  font-size: inherit;

  & * {
    font-size: inherit;
    color: white;
  }
}

.btn-team-edit:hover{
  border-color: var(--orange);
}


.team .credits-cont {
  margin: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  & > *{
    display: flex;
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 3px 5px;
    font-size: var(--fs-third);
    color: var(--light-orange);
  }

  .max-offer-cont{
    gap: 3px;
    align-items: end;
    color: white;
    background-color: var(--dark-orange);
  }

  .credits{
    align-items: baseline;

    & .credits-icon{
      align-self: center;
      font-size: var(--fs-second);
      margin-right: 3px;
    }
  }

  .res-credits, .max-offer{
    font-weight: bold;
    font-size: var(--fs-primary);
    color: white;
  }
}


.credits-icon{
  color: var(--credits-color);
  display: flex;
  height: 100%;
}

.max-credits-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & .credits-icon{
    position: absolute;
    bottom: 5px;
  }
}




.team-players {
  flex-grow: 1;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
  /* max-height: 485px; */
}

.player-box{
  flex-shrink: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color); /* violet */
  padding: 0.2rem;
  border-radius: 7px;
  border: 1px solid var(--violet);
  overflow: hidden;
  cursor: pointer;
  gap: 5px;

  position: relative;

  &:hover .btn-rem-player{
    display: flex;
  }
}

.player-box .player-data{
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
  gap: 5px;
}

.player-box .player-cost{
  font-weight: bold;
}

.player-box .auct-roles-cont{
  width: fit-content;
  justify-content: center;
  margin: 0;
}

.player-box .role{
  margin: 0;
  width: 20px;
  height: 20px;
  font-size: var(--fs-small);
  border: 1px solid white;
}

.btn-rem-player{
  /* display: flex; */
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;

  display: none;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--red-delete);
  color: white;
  cursor: pointer;

  & * {
    align-self: center;
    font-size: var(--fs-primary);
  }

  &:hover{
    background-color: var(--red-delete-light);
  }
}

/* Modal------------------------------------------- */

.backdrop {
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
}

.player-form-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  z-index: 10;
  position: fixed;
  inset: 0;
  margin: auto;
  bottom: 20%;
}

.player-form {
  box-shadow: 0 0px 20px rgba(253, 253, 253, 0.286);
  border-radius: 25px;
  background-image: radial-gradient(ellipse at top left, #4b5da5, #383f60);
  border: 2px solid white;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0 2rem;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal-info .auct-roles-cont{
  width: 140px;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.modal-info .player-name {
  min-width: 180px;
}

.modal-form{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
}

.modal-form > *{
  height: 50px;
}

.modal-form #selTeam{
  min-width: 100px;
  text-align: center;
  font-size: var(--fs-primary);
}

.modal-form .cost-cont{
  position: relative;
}

.modal-form #cost{
  height: 100%;
  width: 100px;
  padding: 0.3rem;
  padding-left: 1.5rem;
  border-radius: 10px;
  text-align: center;
  font-size: var(--fs-large);
  outline: none;
  border: 2px solid var(--orange);
  background-color: inherit;
  color: #ffffff;
}

.modal-form #cost:focus{
  background-color: var(--dark-blue);
}

.modal-form .credits-icon{
  position: absolute;
  top: 0;
  left: 7px;
  font-size: var(--fs-big);
}

.modal-buttons{
  margin-top: 2rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.modal-buttons > * {
  width: 100px;
  height: 35px;
}

.modal-buttons .btn-confirm{
  background-color: #1f9c1f ;
}

.modal-buttons .btn-confirm:hover{
  background-color: #25b325 ;
}

.modal-buttons .btn-confirm:active{
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue),
  inset 3px 3px 15px var(--green-confirm),
  inset -3px -3px 15px var(--green-confirm-light);
}

.remove-warning{
  margin: 1rem 0;
  font-size: var(--fs-primary);
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: var(--red-delete);
}

.modal-buttons .btn-delete{
  background-color: var(--red-delete) ;
}

.modal-buttons .btn-delete:hover{
  background-color: var(--red-delete-light) ;
}

.modal-buttons .btn-delete:active{
  box-shadow:
  6px 6px 18px var(--dark-blue),
  -6px -6px 18px var(--light-blue),
  inset 3px 3px 15px rgb(180, 0, 0),
  inset -3px -3px 15px rgb(180, 0, 0);
}


/* --------------------------------------- */
/* --------------MEDIA QUERIES------------ */
/* --------------------------------------- */


@media (max-width: 360px) {
  .players-num .roles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}

/* @media (max-width: 600px) {
  .header > .logo{
    margin: 0 auto;
  }
} */



@media (max-width: 480px) { /* smartphones / mobile devices */

  .auction-wrapper{
    box-shadow:  0 0 20px 5px rgba(0, 0, 0, 0.344);
    border-radius: 25px;
    overflow: hidden;
  }

  .auct-core{
    margin: 0;
  }

  .team{
    min-width: max(80%, 270px);
  }

  :root{
    --fs-primary: 18px;
    --fs-second: 16px;
    --fs-third: 14px;
    
    --fs-large: 20px;
    --fs-big: 22px;
    --fs-bigger: 26px;
    --fs-small: 12px;
  
    --fs-btn-prim: 18px;
    --fs-btn-sec: 17px;
  
    --fs-btn-big-prim: 21px;
    --fs-btn-big-sec: 20px;
  
    --fs-skip-btn: 27px;
    --fs-skip-btn-active: 24px;
  }




  /* .teams-cont{
    font-size: 18px;
    gap: 1rem;
  }

  .team .team-name-cont{
    font-size: 24px;
  }

  .form-cont{
    font-size: 18px;
  }

  .form-inputs input[type=number]{
    font-size: 18px;
  }

  select, .team input{
    font-size: 18px;
  }



  .team .credits-cont {

    & > *{
      font-size: 16px;
    }
  
    .credits{
      font-size: 18px;
    }
  
    .res-credits, .max-offer{
      font-size: 20px;
    }
  } */



  

}

@media ( 481px <= width <= 768px){ /* tablets and ipads */
  
}

@media ( /* 769px <= */ width <= 1024px){ /* laptops and small  */
  .top-container .tools-cont, .top-container .history-cont{
    display: none;
  }

  .player-cont{
    flex-wrap: wrap-reverse;
  }

  .header > .logo{
    margin: 0 auto;
  }
}

@media ( 1025px <= width <= 1200px){ /* desktop and large */

}

@media ( width >= 1201px){ /* extra large */

}




/* is touch */

/* @media (hover: none){
  .teams-cont::-webkit-scrollbar{
    height: 20px;
  }
}

 */








/* portrait / landscape */
@media (orientation: portrait){ 
  
}